shamefully-hoist=true
minimum-release-age=4320
minimum-release-age-exclude[]=electron@42.3.3
minimum-release-age-exclude[]=mermaid@11.15.0
minimum-release-age-exclude[]=@mermaid-js/parser@1.1.1
minimum-release-age-exclude[]=serve-sim@0.1.40
